/Andro
/Labelling
/PaddyHealthDatasetMain

Project/ta22
Project/yolov5
Project/model/paddy2epoch99acc.h5
Project/model/yolov5s.pt
Project/model/yolov5x.pt
Project/model/yolov5mexp
Project/model/yolov5sexp
Baju